<p id="notice"><%= notice %></p>

<p>
  <b>Mac address:</b>
  <%= @restaurant.mac_address %>
</p>

<p>
  <b>Width:</b>
  <%= @restaurant.width %>
</p>

<p>
  <b>Height:</b>
  <%= @restaurant.height %>
</p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
